.employee-info {
    margin-top: 33px;
    margin-left: 35px;
}
.signaturePreview .employee-info .position{
    margin-top:-15px;
    margin-left: 20px;
}

.employee-info .contact-details {
    margin-top: 40px;
}

.contact-field {
    margin-top: -10px;
}

.col-25 {
    float: left;
    width: 15%;
}

.signaturePreview img {
    width: 188px;
    height: 203px;
}

#signature-image {
    margin-top: 20px;
}

