@font-face {
    font-family: 'DIN Alternate Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Alternate Bold'), url('./fonts/DINAlternate-Bold.woff') format('woff');
}
body {
    font-family: 'DIN Alternate Bold';
}

h1 {
    font-family: 'DIN Alternate Bold';
    font-size: 40px;
}
